body {
	font-family: Verdana, sans-serif;
	font-size: 20px;
}

a {
	text-decoration: none;
	color:  black;
}

p, select, button {
	font-size:  20px;
}

.highlight {
	background-color: yellow;
	font-weight: bold;
}

.container {
	padding-left:  20px;
	padding-right:  20px;
	padding-top:  80px;
	display: grid;
}

.navbar a {
	font-size:  25px;
	width:  100%;
	text-align: right;
	text-transform: uppercase;
}

div#banner {
	padding-top:  30px;
	font-size:  25px;
}

.product-image {
	border:  3px solid black;
}

.nav-wrapper {
	display: grid;
	grid-gap:  20px;
	grid-template-columns:  350px 1fr;
}

.navbar {
	overflow: auto;
	grid-row:  1;
	grid-column: 2;
	display: grid;
	padding-right:  20px;
	padding:  20px;
	grid-template-columns: 1fr 200px 200px;
}

.navbar #product {
	grid-row: 1;
	grid-column: 2;
}

.navbar #cart {
	grid-row: 1;
	grid-column: 3;
}

a#logo {
	grid-row:  1 / 4;
	grid-column:  1;
}

div#banner {
	border-top:  5px solid black;
	grid-row:  2 / 4;
	grid-column:  2;
	text-align: left;
}

.gallery-item {
	padding:  2%;
}

.gallery-item img {
	width:  98%;
}

.gallery-item .name {
	font-size: 24px;
	font-weight: bold;
}

/* Default:  width smaller than 600px */
.gallery-wrapper {
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap:  20px;
}

.property-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 12px 0px;
}

.property-label {
	display: flex;
	align-items: center;
	/* flex-grow: 1; */
	min-width: 35%;
}

.property-options {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-grow: 2;
}

.glazing {
	padding: 8px;
	width: 100%;
	border: 2px solid black;
}

.pack-label {
	border: 2px solid black;
	background-color: white;
	margin-left: 8px;
	width: 42px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pack-label:first-child {
	margin-left: 0px;
}

.pack-label.selected {
	background-color: #aaa;
}

.price {
	font-size: 24px;
	font-weight: bold;
}

.add-cart {
	font-size: 24px;
	background-color: white;
	padding: 8px;
	width: 100%;
}

.add-cart:hover {
	background-color: yellow;
}